*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #96B6C5;
    --secondary: #ADC4CE;
    --tertiery: #EEE0C9;
    --accent: #F1F0E8;
}

body {
    background-color: var(--secondary);
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
}

.parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    background-color: red;
}

.gallow {
    width: 100%;
    height: 80%;
}

.gallow img {
    margin-bottom: auto;
    width: 90%;
    height: auto;
}

.corner-and-highlight {
    border: 2px solid black;
}

.center {
    display: flex;
    justify-content: center;
}