*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #96B6C5;
    --secondary: #ADC4CE;
    --tertiery: #EEE0C9;
    --accent: #F1F0E8;
    --textColor: #000000;
}

body {
    background-color: var(--secondary);
    color: var(--textColor);
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--primary);
}

.header > .title {
    font-size: xx-large;
}

.settings {
    align-items: center;
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 10vh;
}

#settings-icon {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

.settings-list {
    position: absolute;
    top: 10vh;
    right: -5px;
    width: 50%;
    height: 100px;
    background-color: var(--primary);
    border: 2px solid var(--tertiery);
    border-top: none;
    padding: 5px;
}

.settings-content {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 48px;
    height: 24px;
    border-radius: 26px;
    background-color: #333;
    position: absolute;
    transition: all 0.25s ease-out;
    cursor: pointer;
    z-index: 1;
}

#toggle::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EEE;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.25s ease-out;
}

#toggle:checked {
    background: #03FFC0;
}

#toggle:checked::before {
    background: #333;
    left: 25px;
}

.parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.parent > div {
    border-bottom: 2px solid rgb(100, 100, 100);;
}

.gallow {
    width: 100%;
    height: 80%;
}

.gallow img {
    width: 90%;
    height: auto;
    margin: 5px 0;
}

.hint-wrapper {
    height: 28px;
    padding-bottom: 8px;
}

#wrong-guess-wrapper {
    height: 10vh;
    display: flex;
    flex-direction: column;
}

#wrong-guess-wrapper .headline {
    padding: 4px;
}

.character-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 30px;
    background-color: whitesmoke;
    border-bottom: 2px solid rgb(100, 100, 100);
    margin: 0.25rem;
    margin-top: 0;
}

.input {
    position: relative;
    padding: 10px;
    height: 20vh;
}

.button-layout{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.input-wrapper {
    width: 100%;
}

.difficulty-wrapper {
    width: 50%;
}

.reset-button-wrapper {
    align-items: center;
    width: 50%;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 170%;
    justify-content: center;
    background-color: var(--secondary);
    top: 0px;
    left: 0px;
}

.overlay > .large-button {
    width: 60%;
    margin: 4px auto ;
}

.overlay-text {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.top-content {
    padding: 12px;
}

.bottom-content {
    width: 60%;
    padding-bottom: 5px;
}

.bottom-content > .large-button {
    width: 30%;
}

.bottom-content > .input-field {
    width: 70%;
}

.highscore {
    min-height: 15vh;
}

.highscore-list {
    display: flex;
    padding: 6px;
}

.highscore-container {
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 18px;
    background-color: darksalmon;
}

.text-box div {
    width: 45%;
    margin: 4px;
}

.corner-and-highlight {
    border: 2px solid black;
}

.hidden {
    display: none;
}

.input-field {
    border-radius: 6px;
    min-width: 30%;
    padding: 6px;
    height: 45px;
    border: 2px solid rgb(100, 100, 100);
}

.large-button {
    border-radius: 6px;
    height: 45px;
    min-width: 20%;
    margin-left: 3px;
    padding: 6px 12px;
    border: none;
    background-color: darksalmon;
}

.small-button {
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
    border: none;
}

.input-wrapper .input-field{
    border-radius: 6px 0 0 6px;
}

.input-wrapper .large-button{
    border-radius: 0 6px 6px 0;
}

.input-field, .large-button, .active-difficulty, .highscore-container {
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3); 
}

.active-difficulty {
    color: whitesmoke;
    background-color: darksalmon;
    border: 2px solid rgb(100, 100, 100);
}

.headline {
    font-weight: bold;
    font-size: 18px;
}

.shake-animation:focus {
    animation: horizontal-shaking 0.5s ease;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0);}
    16% { transform: translateX(5px);}
    33% { transform: translateX(-5px) }
    50% { transform: translateX(5px);}
    66% { transform: translateX(-5px) }
    83% { transform: translateX(5px);}
    100% { transform: translateX(0);}
}  

@media screen and (min-width: 800px) {

    .settings-list {
        min-width: 200px;
        max-width: 15%;
    }

    .main .wrapper {
        display: flex;
        justify-content: space-evenly;
        min-height: 50vh;
    }

    .wrapper > .wrong-guess-wrapper {
        min-width: 10%;
    }

    .wrong-guesses {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrong-guesses > div {
        width: fit-content;
    }

    .wrapper .column-wrapper {
        width: 80%;
        margin-left: auto;
    }

    .gallow img {
        width: 70%;
        height: auto;
        margin: 5px 0;
    }

    #play-again {
        max-width: 300px;
    }

    .button-layout {
        flex-direction: row;
    }

}